/** Global CSS **/
body{
    background-color:#000000;
    color:white;
    font-family: 'Krona One', sans-serif;
    font-weight:500;
    margin:0;
    text-transform:uppercase;
}
h1,h2,h3,h4,h5,h6{
    font-weight:bold;
}
h3 {
	font-size: .9em;
}
a{
    text-decoration:none;
    color:#FF0000;
}
a:hover{
    text-decoration:none;
    color:#FFFFFF;
}
a:visited{
    text-decoration: none;
    color:#A9A9A9;
}
.page-title{
    margin:10px 0;
    padding:15px 0;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
ul li{
    float:left;
}
.two-column-left.left{
    float:left;
    width:62%;
}
.two-column-left.right{
    float:right;
    width:32%;
}
.outer-wrapper{
    min-width:100%;
    min-height:100%;
    width:100%;
    background-image: url('../media/images/main-bg.jpg');
    position:absolute;
    background-size:cover;
    background-position:center center;
}
.fight-companion-home .page-title{
	display:none;
}
label {
	margin-right: 10px;
}

input {
	background-color: #2b170e;
    padding: 5px;
    border-radius: 5px;
}

#form_button input {
	background-color: #2b170e;
    color: white;
}

/** Header CSS **/
.social-icon{
    width:32px;
}
.header, .footer{
    width:100%;
}
.footer{
    background-color: rgba(0, 0, 0, .65);
}
.header:after, .header-wrapper:after {
    content: "";
    clear: both;
    display: table;
}
.header:after{
    clear:both;
}
.header-wrapper, .footer-wrapper{
    /*border-bottom:1px solid #FF0000;*/
    max-width:1300px;
    margin:0 auto;
    padding: 5px 0 10px;
}
.header-upper{
    height:32px;
}
.header-section{
    width:33%;
    float:left;
    height:200px;
    text-align:center;
}
.header-upper{
    text-align:right;
}
.header-links{
    width:96px;
    float:right;
    margin:0;
    list-style-type:none;
}
.header-links-item{
    display:inline;
    float:left;
}
#main-logo{
    max-width:120px;
}
.header-lower:after{
    clear:both;
}
/** Main Content Section CSS **/
.main{
    width:100%;
}
.main-wrapper{
    max-width:1300px;
    margin:0 auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 0 15px 15px;
	border-radius: 15px;
}
.nav-wrapper{
    width:100%;
	background-color: rgba(0, 0, 0, .65);
	border-bottom: 2px solid red;
}
.nav{
    position:relative;
    margin:0 auto;
    max-width:1300px;
    padding:10px 0 25px 0;
    /*border-bottom:1px solid red;*/
    z-index:5;
}
.nav-links{
    text-align:center;
}
.nav-links li:nth-child(3){
    margin-top:-12px;
}
.header-parent{
    text-align:center;
}
.header-parent a{
    font-weight:600;
    color: #d4d4d4;
}
.header-parent a:hover{
    color:red;
}

.nav.sticky {
    width:auto;
    position: fixed;
}

/** Footer CSS **/
.footer-menu{
    float:left;
}
.footer{
    font-size:.6em;
    padding:10px 0;
    position:fixed;
    bottom:0;
    border-top:2px solid red;
}
.footer-wrapper{
    border-bottom:none;
}
.copyright{
    float:right;
    width:220px;
}
.copyright span{
    font-weight:400;
}
.footer-menu-item{
    padding: 0 15px;
}
.footer-menu-item a{
    color:white;
}
.footer-menu-item a:hover{
    text-decoration:underline;
}

/** PAge Structures **/
.content{
    width:100%;
}