/* Responsive Styling Above Mobile */
@media only screen and (min-width:769px){

}
/* Responsive Styling Mobile */
@media only screen and (max-width:768px){
    .header-left{
        display:none;
    }
    #main-logo{
        max-width:150px;
    }
    .header-section{
        margin:10px;
        height:auto;
    }
    .header-center{
        width:40%;
    }
    .header-right{
        width:50%;
    }
}