body{
	background-color: #000;
	font-family: 'Anton', sans-serif;
	letter-spacing: 1.2px;
}
h1, h2, h3, h4, h5, h6{
	color: #d4d4d4;
}
h1{
	font-size: 42px;
	background-color: rgba(255, 0, 0, 0.4);
	padding: 0 15px !important;
}
.main{
	width:100%;
	background-image: url(img/punch-logo.png);
    background-size: 1280px;
    background-repeat: no-repeat;
	background-position: center;
	background-position-y: inherit;
}
.main, .page-wrapper{
	margin: 0;
}
.main-content{
	min-height: 100%;
	margin:0 auto;
	padding: 0 20px;
	width: 1280px;
}
.header-section{float:left;}
.page-title{
	margin:0;
	text-align:center;
	padding: 0;
}
.header{
	max-width:1280px;
	margin:0 auto;
	height:180px;
	background: rgba(48, 48, 48, 0.75);
	text-align: center;
}
.header-left{
	width:40%;
	color: #d4d4d4;
	display: inline-block;
}
.header-center{
	width:20%;
	color: #d4d4d4;
	display: inline-block;
}
.header-right{
	width:40%;
	color: #d4d4d4;
	display: inline-block;
}
.footer{
	background: rgba(48, 48, 48, 0.75);
	color: #d4d4d4;
	width: 100%;
	text-align: center;
}
.youtube-embed{
	text-align:center;
}
.content{
	background: rgba(0, 0, 0, 0.4);
}
.content h2{
	text-align:center;
	text-decoration:underline;
}
.list{color:white;list-style:none;text-align:center;padding:0;}